/* General styles */

@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
:root{
    /* Background Gradient */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    /* Text */
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --soft-red: hsl(14, 88%, 65%);
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    /* Dividers */
    --light-grayish-blue: hsl(240, 5%, 91%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    a:link {
        color: var(--soft-red);
        text-decoration: none;
    }
    
    a:visited {
        font-weight: 900;
        color: var(--very-dark-desaturated-blue);
        text-decoration: none;
    }
    
    a:focus {
        color: var(--very-dark-desaturated-blue);
        text-decoration: none;
    }
    
    a:hover {
        color: var(--soft-red);
        text-decoration: none;
    }
    
    a:active {
        color: var(--soft-red);
        text-decoration: none;
    }

    html {
        font-size: 12px;
        font-family: 'Outfit', sans-serif;
        background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
        background-repeat: no-repeat;

        }

   body{
        display: grid;
        min-height: 100vh;
        place-content: center;
    }

    /* container section */

    .container{
        margin-bottom: 5rem;
        margin-top: -15rem;
    }

    /* images */

    .woman-img{
        position: relative;
        top: 34rem;
        left: 2.5rem;
        max-width: 80%;
    }

    .pattern-img{
        position: relative;
        top: 27rem;
        left: 2.5rem;
        max-width: 80%;
    
    }

    .box-img{
        position: relative;
        z-index: 2;
        bottom: 28rem;
        right: 6.5rem;
    }


    /* faq */

    .faq-content{
        background-color: var(--light-grayish-blue);
        border-radius: 2rem;
        padding: 1rem;
        margin: 1rem;
        padding-top: 11rem;
    }

    h1{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    button{
        background-color: var(--light-grayish-blue);
        border: none;
        cursor: pointer;
        margin-left: 2rem;
    }


    .question{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        cursor: pointer;
        padding: 1rem;
        color: var(--dark-grayish-blue);
    }

    .question-answer{
        border-bottom: .1rem solid rgb(212, 212, 212);
    }

    .answer{
    display: none;
    }

    .faq-content .question-answer:last-child{
       margin-bottom: 3rem;
    }


/* visible and rotate */


.answer.visible{
    display: block;
    cursor: pointer;
    padding-left: 1rem;
    padding-bottom: 1rem;
    
}

.btn.rotate{
    transform: rotate(0.5turn);
}

/* footer */

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
        color: hsl(228, 45%, 44%); 
    }

@media screen and (min-width: 980px) {
    .faq-content{
        background-color: var(--light-grayish-blue);
        border-radius: 2rem;
        padding: 1rem;
        margin: 1rem;
        padding-top: 11rem;
        position: relative;
        bottom: 45rem;
    }

    .question{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        cursor: pointer;
        padding: 1rem;
        color: var(--dark-grayish-blue);
        margin-left: 40rem;
    }

    .question-answer{
        border-bottom: none;
        
    }

    .pattern-img{
        position: relative;
        top: 4rem;
        left: -5rem;
        max-width: 50%;
        z-index: 1;
    
    }

    .woman-img{
        position: relative;
        top: 40rem;
        left: -5rem;
        max-width: 80%;
        z-index: 2;
    }
    
    .box-img{
        position: relative;
        z-index: 2;
        bottom: 17rem;
        right: 6.5rem;
    }

    h1{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 3rem;
        margin-left: 40rem;
    }

    .answer.visible{
        display: block;
        cursor: pointer;
        padding-left: 1rem;
        padding-bottom: 1rem;
        margin-left: 40rem;
    }
}